/* CountdownTimer.module.css */
.countdownTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeLeft {
    font-family: 'Digital Clock', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: red;
}

.label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #999;
}
